.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.producto{
    border-radius: 15px 0px 15px 0px;
    background-color: $color-secundario;

    .producto.titulo {
        background-color: $color-secundario;
        font-size: 30px;
        color: black;
        border-radius: 0px 0px 10px 10px;
    }
    
    .producto-agregar {
        text-decoration: none;
        color: black;
        background-color: $color-secundario;
        font-size: 20px;
        border-radius: 5px;
    }
    .producto-imagen{
        width: 400px;
        height: 400px;
        overflow: cover;
        padding: 100px;
    }
}
