.carousel-item{
    background: black;
    .carousel-img{
        opacity: 0.2;
    }
    .carousel-caption{
        margin-bottom: 12%;
        .texto-carousel-inicio {
            font-size: 120px;
            animation:text-flicker-in-glow 4s linear both;
        }
        .parrafo-carousel-inicio {
            font-size: 30px;
            color: rgba(0, 0, 0, 0.836) !important;
        }
    }
}

@include keyframe-animacion-letras-inicio
