.section {
    background-color: map-get($colores-y-opasity, "color-negro");
    border-radius: 3px;
    h2{
        color: white;
    }
    p{
        color: white;
    }
    .btn{
        &:hover{
            border-color: $color-secundario;
        }
    }
}
